section#armes ul li ul li.detournee{
    text-decoration: underline;
}
section#armes ul li ul li.contandante{
    font-weight: bold;
}
h1, article h2, h3{
    color: red;
}
nav ul li ul li{
    list-style-type: none;
}
section#armes > ul li{
    color: green;
}
section#armes > ul li ul li{
    color: blue;
}
a > img{
    height: 1em;
}
aside > img{
    width: 20vw;
}
section > section:nth-last-child(1) > ul li{
    list-style-type: none;
}